# Node modules & build
node_modules/
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environments & Local config
.env
.env.*
.venv
venv/
env/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
_archive_legacy_bookmyseat/

# IDE & OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
.vercel

# Binaries
*.exe
cloudflared.exe
